* {
  padding: 0px;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
}

nav {
  background: white;
  height: 80px;
  width: 100%;
}

img.img {
  margin-left: 280px;
  margin-top: 25px;
}

nav ul {
  float: right;
  margin-right: 20px;
}

nav ul li {
  display: inline-block;

  line-height: 80px;
}
.ui {
  margin-right: 550px;
}

nav ul li a {
  color: rgb(130, 127, 127);
  font-size: 12px;
  padding: 7px 13px;
  border-radius: 3px;

  text-transform: uppercase;
}

a.active,
a:hover {
  background: rgb(162, 162, 249);
  transition: 0.5s;
}

.login .register {
  margin-left: 1500px;
  position: absolute;
  font-size: var(--font-size-4xl);
  text-align: left;
  display: inline-block;
  width: 104px;
  height: 29px;
}

.rectangle img {
  position: absolute;

  height: 350px;
  left: 835px;
  top: 250px;
}

.rectangle {
  position: absolute;
  width: 1400px;
  height: 600px;
  left: 125px;
  top: 100px;
  background: rgba(252, 225, 207, 0.57);
  border-radius: 20px;
}

.tracking-in-expand {
  position: absolute;
  width: 496px;
  height: 100px;
  left: 600px;
  top: 800px;

  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 36px;
  text-align: center;

  color: #000000;
}

.tracking-in-expand {
  -webkit-animation: tracking-in-expand 2s cubic-bezier(0.215, 0.61, 0.355, 1)
    infinite both;
  animation: tracking-in-expand 2s cubic-bezier(0.215, 0.61, 0.355, 1) infinite
    both;
}

@-webkit-keyframes tracking-in-expand {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}
@keyframes tracking-in-expand {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}

.frontend {
  position: absolute;
  width: 324px;
  height: 64px;
  left: 213px;
  top: 900px;

  font-family: "Inter";
  font-style: italic;
  font-weight: 400;
  font-size: 30px;
  line-height: 61px;
  text-align: center;

  color: #000000;
}
.backend {
  position: absolute;
  width: 324px;
  height: 64px;
  left: 199px;
  top: 1000px;

  font-family: "Inter";
  font-style: italic;
  font-weight: 400;
  font-size: 30px;
  line-height: 61px;
  text-align: center;

  color: #000000;
}

.design {
  position: absolute;
  width: 324px;
  height: 64px;
  left: 177px;
  top: 1100px;

  font-family: "Inter";
  font-style: italic;
  font-weight: 400;
  font-size: 30px;
  line-height: 61px;
  text-align: center;

  color: #000000;
}

.popular {
  position: absolute;
  width: 567px;
  height: 61px;
  left: 170px;
  top: 1270px;

  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 30px;
  line-height: 61px;
  /* identical to box height */
  text-align: center;

  color: #000000;
}

.jobs{

  position: absolute;
  width: 567px;
  height: 61px;
  left: 60px;
  top: 1300px;

  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 61px;
  /* identical to box height */
  text-align: center;

  color: #000000;

}



.shadow-drop-2-bottom {
	-webkit-animation: shadow-drop-2-bottom 2s cubic-bezier(0.250, 0.460, 0.450, 0.940) infinite both;
	        animation: shadow-drop-2-bottom 2s cubic-bezier(0.250, 0.460, 0.450, 0.940) infinite both;
}

/* ----------------------------------------------
 * Generated by Animista on 2023-7-7 10:27:20
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation shadow-drop-2-bottom
 * ----------------------------------------
 */
 @-webkit-keyframes shadow-drop-2-bottom {
  0% {
    -webkit-transform: translateZ(0) translateY(0);
            transform: translateZ(0) translateY(0);
    -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
            box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  }
  100% {
    -webkit-transform: translateZ(50px) translateY(-12px);
            transform: translateZ(50px) translateY(-12px);
    -webkit-box-shadow: 0 12px 20px -12px rgba(0, 0, 0, 0.35);
            box-shadow: 0 12px 20px -12px rgba(0, 0, 0, 0.35);
  }
}
@keyframes shadow-drop-2-bottom {
  0% {
    -webkit-transform: translateZ(0) translateY(0);
            transform: translateZ(0) translateY(0);
    -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
            box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  }
  100% {
    -webkit-transform: translateZ(50px) translateY(-12px);
            transform: translateZ(50px) translateY(-12px);
    -webkit-box-shadow: 0 12px 20px -12px rgba(0, 0, 0, 0.35);
            box-shadow: 0 12px 20px -12px rgba(0, 0, 0, 0.35);
  }
}

  
  
/* Rectangle 2 */
#rectangle2 {
  box-sizing: border-box;

  position: absolute;
  width: 200px;
  height: 160px;
  left: 290px;
  top: 1400px;

  background: #ffffff;
  border: 1px solid #000000;
  border-radius: 20px;
}

.marketing
/* Marketing (86 open positions) */ {
  position: absolute;
  width: 256px;
  height: 74px;
  left: 350px;
  top: 1510px;

  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 30px;

  color: #000000;
}

.marketingimg {
  position: absolute;
  width: 78px;
  height: 86px;
  left: 350px;
  top: 1420px;
}

#rectangle3 {
  box-sizing: border-box;
  position: absolute;
  width: 200px;
  height: 160px;
  left: 590px;
  top: 1400px;
  background: #ffffff;
  border: 1px solid #000000;
  border-radius: 20px;
}
.frontend2 {
  position: absolute;
  width: 256px;
  height: 74px;
  left: 650px;
  top: 1510px;

  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 30px;

  color: #000000;
}

.frontendimg {
  position: absolute;
  width: 78px;
  height: 78px;
  left: 650px;
  top: 1420px;
}

#rectangle4 {
  box-sizing: border-box;
  position: absolute;
  width: 200px;
  height: 160px;
  left: 890px;
  top: 1400px;
  background: #ffffff;
  border: 1px solid #000000;
  border-radius: 20px;
}

.health {
  position: absolute;
  width: 459px;
  height: 74px;
  left: 925px;
  top: 1510px;

  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 30px;

  color: #000000;
}

.healthimg {
  position: absolute;
  width: 78px;
  height: 78px;
  left: 952px;
  top: 1420px;
}

#rectangle5 {
  box-sizing: border-box;
  position: absolute;
  width: 200px;
  height: 160px;
  left: 1190px;
  top: 1400px;
  background: #ffffff;
  border: 1px solid #000000;
  border-radius: 20px;
}

.data {
  position: absolute;
  width: 256px;
  height: 74px;
  left: 1237px;
  top: 1510px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 30px;
  color: #000000;
}

.dataimg {
  position: absolute;
  width: 78px;
  height: 78px;
  left: 1250px;
  top: 1420px;
}

 .top{
  
    position: absolute;
    width: 538px;
    height: 61px;
    left: 560px;
    top: 1600px;

    text-decoration: underline;
  
    font-family: "Inter";
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 61px;
    text-align: center;
  
    color: #000000;
  }
 
  .startupunicorn {
    position: absolute;
    width: 524px;
    height: 36px;
    
    left: 140px;
    top: 1700px;
  
    font-family: "Inter";
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
    line-height: 36px;
    text-align: center;
  
    color: #000000;
  }
  
  .bluelearn{
  
      position: absolute;
      width: 174px;
      height: 72px;
      left: 300px;
   top: 1760px;
      
      font-family: 'Inter';
      font-style: normal;
      font-weight: 400;
      font-size: 25px;
      line-height: 36px;
      text-align: center;
      
      color: #000000;
      
      
      }
  
  .onecard{
    
  
  position: absolute;
  width: 126px;
  height: 72px;
  left: 320px;
  top: 1830px;
  
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 25px;
  line-height: 36px;
  text-align: center;
  
  color: #000000;
  
  
  }
  
  .inmobi{
  
      position: absolute;
  width: 126px;
  height: 72px;
  left: 320px;
  top: 1910px;
  
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 25px;
  line-height: 36px;
  text-align: center;
  
  color: #000000;
  
  }
  
  .founder{
   
  
  position: absolute;
  width: 286px;
  height: 36px;
  left: 650px;
  top: 1700px;
  
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 25px;
  line-height: 36px;
  text-align: center;
  
  color: #000000;
  
  
  }
  
  .harish{
  
  position: absolute;
  width: 104px;
  height: 72px;
  left: 730px;
  top: 1760px;
  
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 25px;
  line-height: 36px;
  text-align: center;
  
  color: #000000;
  
  
  }
  
  .anurag{
  
      position: absolute;
  width: 104px;
  height: 72px;
  left: 730px;
  top: 1830px;
  
  
  font-family: 'Inter';
  font-style: normal;
  font-weight: 200;
  font-size: 25px;
  line-height: 36px;
  text-align: center;
  
  color: #000000;
  
  }
  
  .amit{
  
      position: absolute;
      width: 104px;
      height: 72px;
      left: 735px;

  top: 1910px;
  
      
      font-family: 'Inter';
      font-style: normal;
      font-weight: 200;
      font-size: 21px;
      line-height: 36px;
      text-align: center;
      
  
  }
  
  .industry{
     
  
  position: absolute;
  width: 286px;
  height: 36px;
  left: 950px;
    top: 1700px;
  
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 25px;
  line-height: 36px;
  text-align: center;
  
  color: #000000;
  
  
  }  
  
  .ed-tech{
      
  
  position: absolute;
  width: 117px;
  height: 72px;
  left: 1030px;
  top: 1760px;
  
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 25px;
  line-height: 36px;
  text-align: center;
  
  color: #000000;
  
  
  }
  
  .fin{
  
      position: absolute;
  width: 117px;
  height: 72px;
  left: 1030px;
  top: 1830px;
  
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 25px;
  line-height: 36px;
  text-align: center;
  
  color: #000000;
  
  }
  
  .ad{
  
      position: absolute;
      width: 117px;
      height: 72px;
      left: 1030px;
      top: 1910px;
      
      font-family: 'Inter';
      font-style: normal;
      font-weight: 400;
      font-size: 25px;
      line-height: 36px;
      text-align: center;
      
      color: #000000;
  
  }
  
  .year{
  
  
  position: absolute;
  width: 379px;
  height: 36px;
  top: 1690px;
  left: 1150px;
  
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 25px;
  line-height: 36px;
  text-align: center;
  
  color: #000000;
  
  
  }
  
  .twenty{
      
  
  position: absolute;
  width: 70px;
  height: 31px;
  left: 1310px;
  top: 1760px;
  
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 25px;
  line-height: 36px;
  text-align: center;
  
  color: #000000;
  
  
  }
  
  .twentytwo{
      position: absolute;
  width: 70px;
  height: 31px;
  left: 1310px;
  top: 1830px;
  
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 25px;
  line-height: 36px;
  text-align: center;
  
  color: #000000;
  
  }
  
  .onenine{
  
      position: absolute;
      width: 70px;
      height: 31px;
      left: 1310px;
      top: 1910px;
      
      font-family: 'Inter';
      font-style: normal;
      font-weight: 400;
      font-size: 25px;
      line-height: 36px;
      text-align: center;
      
      color: #000000;
  
  
      
  }

  .love{
   

position: absolute;
width: 559px;
height: 96px;
left: 300px;
top: 2130px;

font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 30px;
line-height: 54px;
display: flex;
align-items: center;
text-align: center;

color: #000000;


  }

  .million{
   

position: absolute;
width: 506px;
height: 49px;
left: 342px;
top: 2225px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 36px;
display: flex;
align-items: center;

color: #000000;


  }

  .peopleimg{
   

position: absolute;
width: 40px;
height: 35px;
left: 290px;
top: 2230px;



  }

  .shoppingimg{


    position: absolute;
width: 40px;
height: 35px;
left: 290px;
top: 2300px;

  }

  .hr{
    position: absolute;
width: 506px;
height: 49px;
left: 342px;
top: 2327px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 36px;
display: flex;
align-items: center;

color: #000000;
  }

  .trackingimg{

    position: absolute;
    width: 65px;
    height: 60px;
    left: 282px;
    top: 2420px;

  }


  .ats{

position: absolute;
width: 538px;
height: 108px;
left: 342px;
top: 2410px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 36px;
display: flex;
align-items: center;

color: #000000;


  }

  .love2{

    position: absolute;
width: 559px;
height: 96px;
left: 1040px;
top: 2530px;

font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 30px;
line-height: 54px;
display: flex;
align-items: center;
text-align: center;

color: #000000;

  }


  .starimg{

    position: absolute;
    width: 40px;
    height: 35px;
    left: 1030px;
    top: 2635px;

  }

  .unique{

    position: absolute;
width: 506px;
height: 49px;
left: 1080px;
top: 2633px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 36px;
display: flex;
align-items: center;

color: #000000;

  }


  .clickimg{

    position: absolute;
    width: 35px;
    height: 30px;
    left: 1030px;
    top: 2705px;

  }

  .goodbye{

    position: absolute;
    width: 506px;
    height: 49px;
    left: 1080px;
    top: 2714px;
    
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 36px;
    display: flex;
    align-items: center;
    
    color: #000000;

  }

  .linkimg{

    
    position: absolute;
    width: 35px;
    height: 30px;
    left: 1030px;
    top: 2790px;

  }

  .connectdirectly{

    position: absolute;
    width: 506px;
    height: 49px;
    left: 1079px;
    top: 2790px;
    
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 36px;
    display: flex;
    align-items: center;
    
    color: #000000;

  }


  .resumebuilding{
    

position: absolute;
width: 767px;
height: 61px;
left: 410px;
top: 2905px;

font-family: 'Inter';
font-style: normal;
font-weight: 600;
font-size: 35px;
line-height: 61px;

text-align: center;

color: #000000;


  }

  .resumedetail{
  

position: absolute;
width: 1294px;
height: 265px;
left: 190px;
    top: 3000px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 25px;
line-height: 45px;
text-align: center;

color: #000000;


  }
  
  #resumeimg{
    

position: absolute;

top: 3100px;
width: 553px;
    height: 500px;
    left: 580px;


  }

  .vibrate-1 {
    -webkit-animation: vibrate-1 0.5s linear infinite both;
            animation: vibrate-1 0.5s linear infinite both;
  }


@-webkit-keyframes vibrate-1 {
  0% {
    -webkit-transform: translate(0);
            transform: translate(0);
  }
  20% {
    -webkit-transform: translate(-2px, 2px);
            transform: translate(-2px, 2px);
  }
  40% {
    -webkit-transform: translate(-2px, -2px);
            transform: translate(-2px, -2px);
  }
  60% {
    -webkit-transform: translate(2px, 2px);
            transform: translate(2px, 2px);
  }
  80% {
    -webkit-transform: translate(2px, -2px);
            transform: translate(2px, -2px);
  }
  100% {
    -webkit-transform: translate(0);
            transform: translate(0);
  }
}
@keyframes vibrate-1 {
  0% {
    -webkit-transform: translate(0);
            transform: translate(0);
  }
  20% {
    -webkit-transform: translate(-2px, 2px);
            transform: translate(-2px, 2px);
  }
  40% {
    -webkit-transform: translate(-2px, -2px);
            transform: translate(-2px, -2px);
  }
  60% {
    -webkit-transform: translate(2px, 2px);
            transform: translate(2px, 2px);
  }
  80% {
    -webkit-transform: translate(2px, -2px);
            transform: translate(2px, -2px);
  }
  100% {
    -webkit-transform: translate(0);
            transform: translate(0);
  }
}



  #pushable {
    position: relative;
    background: rgba(252, 225, 207, 0.57);
    border-radius: 12px;
    border: none;
    padding: 0;
    cursor: pointer;
    outline-offset: 4px;
    top: 3510px;
    left: 730px;
  }
  #front {
    position: relative;
    display: block;
    padding: 12px 42px;
    border-radius: 12px;
    font-size: 1.25rem;
    background:  rgba(252, 225, 207, 0.57);
    color: black;
    transform: translateY(-6px);
  }

  #pushable:active #front {
    transform: translateY(-2px);
  }


  .scale-up-top {
    -webkit-animation: scale-up-top 3s cubic-bezier(0.390, 0.575, 0.565, 1.000) infinite both;
            animation: scale-up-top 3s cubic-bezier(0.390, 0.575, 0.565, 1.000) infinite both;
  }


@-webkit-keyframes scale-up-top {
  0% {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
    -webkit-transform-origin: 50% 0%;
            transform-origin: 50% 0%;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-transform-origin: 50% 0%;
            transform-origin: 50% 0%;
  }
}
@keyframes scale-up-top {
  0% {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
    -webkit-transform-origin: 50% 0%;
            transform-origin: 50% 0%;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-transform-origin: 50% 0%;
            transform-origin: 50% 0%;
  }
}

.faq{
 

position: absolute;
width: 788px;
height: 61px;
left: 70px;
top: 52px;
text-decoration: underline;



}


#rectangle100{


position: absolute;
width: 505px;


height: 500px;
    left: 580px;
    top: 3720px;

background: rgba(252, 225, 207, 0.57);
border-radius: 20px;

}

#recruiterhireimg{



position: absolute;
width: 405px;
height: 400px;
left: 990px;
top: 2100px;




}


.shake-horizontal {
	-webkit-animation: shake-horizontal 5s cubic-bezier(0.455, 0.030, 0.515, 0.955) infinite both;
	        animation: shake-horizontal 5s cubic-bezier(0.455, 0.030, 0.515, 0.955) infinite both;
}


 @-webkit-keyframes shake-horizontal {
  0%,
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  10%,
  30%,
  50%,
  70% {
    -webkit-transform: translateX(-10px);
            transform: translateX(-10px);
  }
  20%,
  40%,
  60% {
    -webkit-transform: translateX(10px);
            transform: translateX(10px);
  }
  80% {
    -webkit-transform: translateX(8px);
            transform: translateX(8px);
  }
  90% {
    -webkit-transform: translateX(-8px);
            transform: translateX(-8px);
  }
}
@keyframes shake-horizontal {
  0%,
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  10%,
  30%,
  50%,
  70% {
    -webkit-transform: translateX(-10px);
            transform: translateX(-10px);
  }
  20%,
  40%,
  60% {
    -webkit-transform: translateX(10px);
            transform: translateX(10px);
  }
  80% {
    -webkit-transform: translateX(8px);
            transform: translateX(8px);
  }
  90% {
    -webkit-transform: translateX(-8px);
            transform: translateX(-8px);
  }
}


#jobseekerimg{

  position: absolute;
width: 305px;
height: 260px;
    left: 390px;
    top: 2550px;
}

.shake-vertical {
	-webkit-animation: shake-vertical 5s cubic-bezier(0.455, 0.030, 0.515, 0.955) infinite both;
	        animation: shake-vertical 5s cubic-bezier(0.455, 0.030, 0.515, 0.955) infinite both;
}


 @-webkit-keyframes shake-vertical {
  0%,
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  10%,
  30%,
  50%,
  70% {
    -webkit-transform: translateY(-8px);
            transform: translateY(-8px);
  }
  20%,
  40%,
  60% {
    -webkit-transform: translateY(8px);
            transform: translateY(8px);
  }
  80% {
    -webkit-transform: translateY(6.4px);
            transform: translateY(6.4px);
  }
  90% {
    -webkit-transform: translateY(-6.4px);
            transform: translateY(-6.4px);
  }
}
@keyframes shake-vertical {
  0%,
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  10%,
  30%,
  50%,
  70% {
    -webkit-transform: translateY(-8px);
            transform: translateY(-8px);
  }
  20%,
  40%,
  60% {
    -webkit-transform: translateY(8px);
            transform: translateY(8px);
  }
  80% {
    -webkit-transform: translateY(6.4px);
            transform: translateY(6.4px);
  }
  90% {
    -webkit-transform: translateY(-6.4px);
            transform: translateY(-6.4px);
  }
}


.bounce-top {
	-webkit-animation: bounce-top 5s infinite both;
	        animation: bounce-top 5s infinite both;
}

/* ----------------------------------------------
 * Generated by Animista on 2023-7-8 19:10:25
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation bounce-top
 * ----------------------------------------
 */
 @-webkit-keyframes bounce-top {
  0% {
    -webkit-transform: translateY(-45px);
            transform: translateY(-45px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
    opacity: 1;
  }
  24% {
    opacity: 1;
  }
  40% {
    -webkit-transform: translateY(-24px);
            transform: translateY(-24px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  65% {
    -webkit-transform: translateY(-12px);
            transform: translateY(-12px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  82% {
    -webkit-transform: translateY(-6px);
            transform: translateY(-6px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  93% {
    -webkit-transform: translateY(-4px);
            transform: translateY(-4px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  25%,
  55%,
  75%,
  87% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
    opacity: 1;
  }
}
@keyframes bounce-top {
  0% {
    -webkit-transform: translateY(-45px);
            transform: translateY(-45px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
    opacity: 1;
  }
  24% {
    opacity: 1;
  }
  40% {
    -webkit-transform: translateY(-24px);
            transform: translateY(-24px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  65% {
    -webkit-transform: translateY(-12px);
            transform: translateY(-12px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  82% {
    -webkit-transform: translateY(-6px);
            transform: translateY(-6px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  93% {
    -webkit-transform: translateY(-4px);
            transform: translateY(-4px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  25%,
  55%,
  75%,
  87% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
    opacity: 1;
  }
}


.firstfaq{


position: absolute;
width: 974px;
height: 122px;
left: -220px;
top: 102px;





position: absolute;
width: 974px;
height: 122px;
left: 20px;
top: 102px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 25px;
line-height: 40px;

color: #000000;




}

.addone{


position: absolute;
width: 33px;
height: 61px;
left: 450px;
top: 107px;




font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 25px;
line-height: 61px;

text-align: center;

color: #000000;


}
.secondfaq{

  position: absolute;
width: 974px;
height: 122px;
left: -120px;
top: 202px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 25px;
line-height: 40px;
text-align: center;

color: #000000;

}

.secondfaq{

  position: absolute;
width: 33px;
height: 61px;
left: 680px;
top: 115px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 25px;
line-height: 61px;

text-align: center;

color: #000000;

}


.html{
 

position: absolute;
width: 45px;
height: 40px;
left: 690px;
top: 902px;



}

.css{
  
position: absolute;
width: 45px;
height: 40px;
left: 790px;
top: 902px;
}

.js{
  position: absolute;
width: 45px;
height: 40px;
left: 890px;
top: 902px;
}

.react{

  position: absolute;
  width: 45px;
  height: 40px;
  left: 990px;
  top: 902px;

}

.nodeback{

  position: absolute;
width: 45px;
height: 40px;
left: 690px;
top: 1002px;

}

.pythonback{

  position: absolute;
width: 45px;
height: 40px;
left: 790px;
top: 1002px;
}

.figmad{
  position: absolute;
  width: 45px;
  height: 40px;
  left: 690px;
  top: 1102px;
}



  




